<div class="row">
  <label for="activeQuickSearch" class="col-md-4 col-form-label">
    <input id="activeQuickSearch" type="checkbox" class="form-control-checkbox mt-2" [(ngModel)]="activeQuickSearch">
    <span class="ms-1"> File/Ref No</span>
  </label>

  <div class="col-md-8">
    <div class="input-group mt-2">
      <input type="text" class="form-control" [(ngModel)]="searchObj.refNo" placeholder="Type File/Ref No"
        [disabled]="!activeQuickSearch">
      <button class="btn btn-info input-group-button" (click)="searchByFileNo()" [disabled]="!activeQuickSearch"><i
          class="fa fa-search"></i></button>
    </div>
  </div>
</div>

<hr>

<div class="row mb-1">
  <label for="ApplicationType" class="col-md-4 col-form-label">Application Type</label>
  <div class="col-md-8">
    <ng-multiselect-dropdown [placeholder]="'Select Application Type'" [(ngModel)]="searchObj.applicationTypes"
      [settings]="dropdownSettingsApplicationType" [data]="lstApplicationType"
      (onSelect)="onSelectApplicationType($event)" (onSelectAll)="onSelectAllApplicationType($event)"
      (onDeSelect)="onSelectApplicationType($event)" (onDeSelectAll)="onSelectAllApplicationType($event)"
      [disabled]="activeQuickSearch">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row mb-1">
  <label for="DPZ" class="col-md-4 col-form-label">DPZ</label>
  <div class="col-md-8">
    <ng-multiselect-dropdown [placeholder]="'Select DPZ'" [(ngModel)]="searchObj.dPZs" [settings]="dropdownSettingsDPZ"
      [data]="lstDPZ" (onSelect)="onSelectDPZ($event)" (onSelectAll)="onSelectAllDPZ($event)"
      (onDeSelect)="onSelectDPZ($event)" (onDeSelectAll)="onSelectAllDPZ($event)" [disabled]="activeQuickSearch">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row mb-1">
  <label for="Thana" class="col-md-4 col-form-label">Thana</label>
  <div class="col-md-8">
    <ng-multiselect-dropdown [placeholder]="'Select Thana'" [(ngModel)]="searchObj.thanas"
      [settings]="dropdownSettingsThana" [data]="lstThana" (onSelect)="onSelectThana($event)"
      (onSelectAll)="onSelectAllThana($event)" (onDeSelect)="onSelectThana($event)"
      (onDeSelectAll)="onSelectAllThana($event)" [disabled]="activeQuickSearch || lstThana.length == 0">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row mb-1">
  <label for="Mouza" class="col-md-4 col-form-label">Mouza</label>
  <div class="col-md-8">
    <ng-multiselect-dropdown [placeholder]="'Select Mouza'" [(ngModel)]="searchObj.mouzas"
      [settings]="dropdownSettingsMouza" [data]="lstMouza" (onSelect)="onSelectMouza($event)"
      (onSelectAll)="onSelectAllMouza($event)" (onDeSelect)="onSelectMouza($event)"
      (onDeSelectAll)="onSelectAllMouza($event)" [disabled]="activeQuickSearch || lstMouza.length == 0">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row mb-1">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="form-check form-radio-primary my-2">
          <input class="form-check-input" type="radio" [(ngModel)]="searchObj.dateType" [value]="1" name="dateType"
            id="1" [disabled]="activeQuickSearch">
          <label class="form-check-label pt-0" for="Approval">
            Approval Date
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-check form-radio-primary my-2">
          <input class="form-check-input" type="radio" [(ngModel)]="searchObj.dateType" [value]="2" name="dateType"
            id="2" [disabled]="activeQuickSearch">
          <label class="form-check-label pt-0" for="Visit">
            Visit Date
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-1">
  <label for="Mouza" class="col-md-4 col-form-label">Date</label>
  <div class="col-md-3">
    <input class="form-control date" id="fromDateObj" [(ngModel)]="searchObj.fromDateObj" [owlDateTimeTrigger]="dt"
      [disabled]="activeQuickSearch" [owlDateTime]="dt">
    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
  </div>
  <div class="col-md-2 to">To</div>
  <div class="col-md-3">
    <input class="form-control date" [(ngModel)]="searchObj.toDateObj" [owlDateTimeTrigger]="dtTo" [owlDateTime]="dtTo"
      [disabled]="activeQuickSearch">
    <owl-date-time [pickerType]="'calendar'" #dtTo></owl-date-time>
  </div>
</div>

<div class="row mb-1">
  <label for="Officer" class="col-md-4 col-form-label">Status</label>
  <div class="col-md-8">
    <ng-multiselect-dropdown [placeholder]="'Select Status'" [(ngModel)]="searchObj.applicationStatus"
      [settings]="dropdownSettingsApplicationStatus" [data]="lstApplicationStatus"
      (onSelect)="onSelectApplicationStatus($event)" (onSelectAll)="onSelectAllApplicationStatus($event)"
      (onDeSelect)="onSelectApplicationStatus($event)" (onDeSelectAll)="onSelectAllApplicationStatus($event)"
      [disabled]="activeQuickSearch">
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="row mb-1 inspectionStatus">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="form-check form-radio-primary my-2">
          <input class="form-check-input" type="radio" name="inspectionStatusRadio" id="totalFile"
            [(ngModel)]="searchObj.visitStatus" [value]="2" [disabled]="activeQuickSearch">
          <label class="form-check-label pt-0" for="totalFile">
            Total File
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check form-radio-primary my-2">
          <input class="form-check-input" type="radio" name="inspectionStatusRadio" id="visited"
            [(ngModel)]="searchObj.visitStatus" [value]="1" [disabled]="activeQuickSearch">
          <label class="form-check-label pt-0" for="visited">
            Visited
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check form-radio-primary my-2">
          <input class="form-check-input" type="radio" name="inspectionStatusRadio" id="pending"
            [(ngModel)]="searchObj.visitStatus" [value]="0" [disabled]="activeQuickSearch">
          <label class="form-check-label pt-0" for="pending">
            Pending
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12 text-end">
    <button class="btn btn-primary" (click)="search()" [disabled]="activeQuickSearch"><i class="bx bx-search"></i>
      Search</button>
  </div>
</div>