.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    margin-bottom: 0px !important;
}

.date {
    padding: unset;
    padding-left: 5px;
}

.to {
    display: flex;
    align-items: center;
    justify-content: center;
}