<div class="container-fluid">
  <app-page-title title="LUC ড্রাফট ম্যান"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-sm-8 col-sm-8 col-md-7 col-lg-6">
              <div class="row">
                <!--  ===========Section 1  ৪। (ক) প্রস্তাবিত নির্মাণ স্থলের বাস্তব মাপ============== -->
                <div class="col-md-12">
                  <h4 class="card-title ">ড্রাফ্‌ট ম্যান সিস্টেম ফরমেট </h4>
                </div>
                <hr>

                <!-- <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="refNo" class="col-md-4 col-form-label">ইমারত নির্মাণ নথির নম্বর </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="refNo"
                        [(ngModel)]="objFileMasterWithDetails.refNo" autocomplete="off" >
                    </div>
                  </div>
                </div> -->

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-3 col-form-label">আবেদনকারীর নাম </label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.applicantName" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-3 col-form-label">আর এস</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.rsNo" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-3 col-form-label">বি এস</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.bsNo" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-3 col-form-label">থানা</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.thanaNameBangla" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-3 col-form-label">মৌজা</label>
                    <div class="col-md-9">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.mouzaNameBangla" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-8 col-form-label">প্রদানকৃত দলিল/খতিয়ান অনুযায়ী মালিকানা
                      সঠিক কি না</label>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsOwnershipJustifiedByDocument"
                              id="dM_IsOwnershipJustifiedByDocumentYes" [(ngModel)]="objLUC.dM_IsOwnershipJustifiedByDocument" [value]="'হ্যাঁ'">
                            <label class="form-check-label pt-0" for="dM_IsOwnershipJustifiedByDocumentYes">
                              হ্যাঁ
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsOwnershipJustifiedByDocument"
                              id="dM_IsOwnershipJustifiedByDocumentNo" [(ngModel)]="objLUC.dM_IsOwnershipJustifiedByDocument"
                              [value]="'না'">
                            <label class="form-check-label pt-0" for="dM_IsOwnershipJustifiedByDocumentNo">
                              না
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsOwnershipJustifiedByDocument"
                              id="dM_IsOwnershipJustifiedByDocumentNA" [(ngModel)]="objLUC.dM_IsOwnershipJustifiedByDocument"
                              [value]="'প্রযোজ্য নয়'">
                            <label class="form-check-label pt-0" for="dM_IsOwnershipJustifiedByDocumentNA">
                              প্রযোজ্য নয়
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-8 col-form-label">বি.এস মৌজা ম্যাপ অনুযায়ী জমির অবস্থান
                      চিহ্নিতকরন সঠিক রয়েছে কি না</label>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByBSMap"
                              id="dM_IsLandPositionJustifiedByBSMapYes" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByBSMap" [value]="'হ্যাঁ'">
                            <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByBSMapYes">
                              হ্যাঁ
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByBSMap"
                              id="dM_IsLandPositionJustifiedByBSMapNo" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByBSMap"
                              [value]="'না'">
                            <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByBSMapNo">
                              না
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check form-radio-primary my-2">
                            <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByBSMap"
                              id="dM_IsLandPositionJustifiedByBSMapNA" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByBSMap"
                              [value]="'প্রযোজ্য নয়'">
                            <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByBSMapNA">
                              প্রযোজ্য নয়
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-8 col-form-label">আর, এস মৌজা ম্যাপ অনুযায়ী জমির অবস্থান
                      চিহ্নিতকরন সঠিক রয়েছে কি না</label>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByRSMap"
                                id="dM_IsLandPositionJustifiedByRSMapYes" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByRSMap" [value]="'হ্যাঁ'">
                              <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByRSMapYes">
                                হ্যাঁ
                              </label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByRSMap"
                                id="dM_IsLandPositionJustifiedByRSMapNo" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByRSMap"
                                [value]="'না'">
                              <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByRSMapNo">
                                না
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsLandPositionJustifiedByRSMap"
                                id="dM_IsLandPositionJustifiedByRSMapNA" [(ngModel)]="objLUC.dM_IsLandPositionJustifiedByRSMap"
                                [value]="'প্রযোজ্য নয়'">
                              <label class="form-check-label pt-0" for="dM_IsLandPositionJustifiedByRSMapNA">
                                প্রযোজ্য নয়
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-8 col-form-label">সাইটি চউক অনুমোদিত কোন এলাইনমেন্ট দ্বারা
                      ক্ষতিগ্রস্ত প্রস্তাবনা রয়েছে কি না</label>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed"
                                id="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedYes" [(ngModel)]="objLUC.dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed" [value]="'হ্যাঁ'">
                              <label class="form-check-label pt-0" for="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedYes">
                                হ্যাঁ
                              </label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed"
                                id="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedNo" [(ngModel)]="objLUC.dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed"
                                [value]="'না'">
                              <label class="form-check-label pt-0" for="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedNo">
                                না
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-check form-radio-primary my-2">
                              <input class="form-check-input" type="radio" name="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed"
                                id="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedNA" [(ngModel)]="objLUC.dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposed"
                                [value]="'প্রযোজ্য নয়'">
                              <label class="form-check-label pt-0" for="dM_IsSiteDamagedByCDAApprovedAlignmentOrAlreadyProposedNA">
                                প্রযোজ্য নয়
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="mb-0 row">
                    <label for="dM_OthersDescription" class="col-md-3 col-form-label">অনান্য তথ্য</label>
                    <div class="col-md-9">
                      <textarea class="form-control" style="height: 50px;" id="dM_OthersDescription"
                        [(ngModel)]="objLUC.dM_OthersDescription" > </textarea>
                    </div>
                  </div>
                </div>


                <div class="col-md-12 mt-3">
                  <div class="mb-0 row">
                    <div class="col-md-12 text-end">
                      <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> সাবমিট</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>