<div class="container-fluid">
  <app-page-title title="LUC এটিপি"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="row">
                <!--  ===========Section 1  ৪। (ক) প্রস্তাবিত নির্মাণ স্থলের বাস্তব মাপ============== -->
                <div class="col-md-12">
                  <h4 class="card-title ">সাধারণ তথ্য</h4>
                </div>
                <hr>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="refNo" class="col-md-4 col-form-label">ইমারত নির্মাণ নথির নম্বর </label>
                    <div class="col-md-8">
                      <input id="refNo" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.refNo">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-4 col-form-label">আবেদনকারীর নাম </label>
                    <div class="col-md-8">
                      <input id="applicantName" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.applicantName">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="rsNo" class="col-md-4 col-form-label">আর এস</label>
                    <div class="col-md-8">
                      <input id="rsNo" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.rsNo">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="bsNo" class="col-md-4 col-form-label">বি এস</label>
                    <div class="col-md-8">
                      <input id="bsNo" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.bsNo">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="thanaNameBangla" class="col-md-4 col-form-label">থানা</label>
                    <div class="col-md-8">
                      <input id="thanaNameBangla" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.thanaNameBangla">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="dpzNameBangla" class="col-md-4 col-form-label">DAP Zoning</label>
                    <div class="col-md-8">
                      <input id="dpzNameBangla" type="text" class="form-control" autocomplete="off" readonly
                        [(ngModel)]="objFileMasterWithDetails.dpzNameBangla">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="landOccupancy" class="col-md-4 col-form-label">চাহিত ভূমির ব্যবহার</label>
                    <div class="col-md-8">
                      <select id="landOccupancy" name="landOccupancy" class="form-select"
                        [(ngModel)]="objLUC && objLUC.landOccupancyID" (change)="onOccupancyChange()">
                        <option value="0">নির্বাচন করুন</option>
                        <option *ngFor="let item of objLUC.occupancies" value="{{item.occupancyID}}">
                          {{item.occupancyDisplayNameBengali}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="landOccupancy" class="col-md-4 col-form-label">Occupancy Type</label>
                    <div class="col-md-8">
                      <select id="landOccupancyType" name="landOccupancyType" class="form-select"
                        [(ngModel)]="objLUC && objLUC.landOccupancyTypeID">
                        <option value="0">নির্বাচন করুন</option>
                        <option *ngFor="let item of lstOccupancyTypes" value="{{item.occupancyTypeID}}">
                          {{item.occupancyTypeDisplayNameBengali}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="description" class="col-md-4 col-form-label">বিবরণ</label>
                    <div class="col-md-8">
                      <textarea id="description" class="form-control form-textarea" autocomplete="off" rows="2"
                        [(ngModel)]="objLUC && objLUC.description"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="" class="col-md-12 col-form-label fw-600">স্থিত রাস্তার প্রশস্থতা :</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">উত্তরঃ</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureNorthNone" type="radio" name="existingRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureNorth"
                                  [value]="1">
                                <label for="existingRoadNatureNorthNone" class="form-check-label pt-0">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureNorthFront" type="radio" name="existingRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureNorth"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="existingRoadNatureNorthFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureNorthJoin" type="radio" name="existingRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureNorth"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="existingRoadNatureNorthJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.existingRoadNatureNorth !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="existingRoadSizeFootNorth" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeFootNorth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeFootNorth"
                                (keyup)="footToMeter('existing', 'north')" (change)="footToMeter('existing', 'north')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeMeterNorth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeMeterNorth"
                                (keyup)="meterToFoot('existing', 'north')" (change)="meterToFoot('existing', 'north')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">দক্ষিনেঃ</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureSouthNone" type="radio" name="existingRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureSouth"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="existingRoadNatureSouthNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureSouthFront" type="radio" name="existingRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureSouth"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="existingRoadNatureSouthFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureSouthJoin" type="radio" name="existingRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureSouth"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="existingRoadNatureSouthJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.existingRoadNatureSouth !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeFootSouth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeFootSouth"
                                (keyup)="footToMeter('existing', 'south')" (change)="footToMeter('existing', 'south')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeMeterSouth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeMeterSouth"
                                (keyup)="meterToFoot('existing', 'south')" (change)="meterToFoot('existing', 'south')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">পূর্বে</label>
                        </div>

                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureEastNone" type="radio" name="existingRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureEast"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="existingRoadNatureEastNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureEastFront" type="radio" name="existingRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureEast"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="existingRoadNatureEastFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureEastJoin" type="radio" name="existingRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureEast"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="existingRoadNatureEastJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.existingRoadNatureEast !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="existingRoadSizeFootEast" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeFootEast" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeFootEast"
                                (keyup)="footToMeter('existing', 'east')" (change)="footToMeter('existing', 'east')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeMeterEast" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeMeterEast"
                                (keyup)="meterToFoot('existing', 'east')" (change)="meterToFoot('existing', 'east')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">পশ্চিমে</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureWestNone" type="radio" name="existingRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureWest"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="existingRoadNatureWestNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureWestFront" type="radio" name="existingRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureWest"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="existingRoadNatureWestFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="existingRoadNatureWestJoin" type="radio" name="existingRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.existingRoadNatureWest"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="existingRoadNatureWestJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.existingRoadNatureWest !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="existingRoadSizeFootWest" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeFootWest" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeFootWest"
                                (keyup)="footToMeter('existing', 'west')" (change)="footToMeter('existing', 'west')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="existingRoadSizeMeterWest"
                              class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="existingRoadSizeMeterWest" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.existingRoadSizeMeterWest"
                                (keyup)="meterToFoot('existing', 'west')" (change)="meterToFoot('existing', 'west')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label class="col-md-4 col-form-label">পারিপার্শ্বিক অবস্থার বিবরণ</label>
                    <div class="col-md-8">
                      <textarea id="surroundingsDescription" class="form-control form-textarea" rows="2"
                        autocomplete="off" [(ngModel)]="objLUC && objLUC.surroundingsDescription"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label class="col-md-12 col-form-label fw-600"> রাস্তার প্রস্তাবনা (সাইট ভিজিট অনুযায়ী) :</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">উত্তরঃ</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureNorthNone" type="radio" name="proposedRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureNorth"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="proposedRoadNatureNorthNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureNorthFront" type="radio" name="proposedRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureNorth"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="proposedRoadNatureNorthFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureNorthJoin" type="radio" name="proposedRoadNatureNorth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureNorth"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="proposedRoadNatureNorthJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.proposedRoadNatureNorth !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeFootNorth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeFootNorth"
                                (keyup)="footToMeter('proposed', 'north')" (change)="footToMeter('proposed', 'north')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeMeterNorth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeMeterNorth"
                                (keyup)="meterToFoot('proposed', 'north')" (change)="meterToFoot('proposed', 'north')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">দক্ষিনেঃ</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureSouthNone" type="radio" name="proposedRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureSouth"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="proposedRoadNatureSouthNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureSouthFront" type="radio" name="proposedRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureSouth"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="proposedRoadNatureSouthFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureSouthJoin" type="radio" name="proposedRoadNatureSouth"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureSouth"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="proposedRoadNatureSouthJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.proposedRoadNatureSouth !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="proposedRoadSizeFootSouth" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeFootSouth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeFootSouth"
                                (keyup)="footToMeter('proposed', 'south')" (change)="footToMeter('proposed', 'south')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="proposedRoadSizeMeterSouth"
                              class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeMeterSouth" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeMeterSouth"
                                (keyup)="meterToFoot('proposed', 'south')" (change)="meterToFoot('proposed', 'south')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">পূর্বে</label>
                        </div>

                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureEastNone" type="radio" name="proposedRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureEast"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="proposedRoadNatureEastNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureEastFront" type="radio" name="proposedRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureEast"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="proposedRoadNatureEastFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureEastJoin" type="radio" name="proposedRoadNatureEast"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureEast"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="proposedRoadNatureEastJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.proposedRoadNatureEast !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="proposedRoadSizeFootEast" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeFootEast" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeFootEast"
                                (keyup)="footToMeter('proposed', 'east')" (change)="footToMeter('proposed', 'east')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeMeterEast" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeMeterEast"
                                (keyup)="meterToFoot('proposed', 'east')" (change)="meterToFoot('proposed', 'east')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-start">
                          <label for="" class="fw-600">পশ্চিমে</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureWestNone" type="radio" name="proposedRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureWest"
                                  [value]="1">
                                <label class="form-check-label pt-0" for="proposedRoadNatureWestNone">
                                  নাই
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureWestFront" type="radio" name="proposedRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureWest"
                                  [value]="2">
                                <label class="form-check-label pt-0" for="proposedRoadNatureWestFront">
                                  সম্মুখে
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check form-radio-primary my-2">
                                <input id="proposedRoadNatureWestJoin" type="radio" name="proposedRoadNatureWest"
                                  class="form-check-input" [(ngModel)]="objLUC && objLUC.proposedRoadNatureWest"
                                  [value]="3">
                                <label class="form-check-label pt-0" for="proposedRoadNatureWestJoin">
                                  সংযোগকারী
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="objLUC.proposedRoadNatureWest !== 1" class="row">
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">ফুট</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeFootWest" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeFootWest"
                                (keyup)="footToMeter('proposed', 'west')" (change)="footToMeter('proposed', 'west')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-0 row">
                            <label for="" class="col-md-3 col-form-label text-end">মিটার</label>
                            <div class="col-md-9">
                              <input id="proposedRoadSizeMeterWest" type="number" min="0"
                                oninput="(value >= 0) || (value = '');" class="form-control" autocomplete="off"
                                [(ngModel)]="objLUC && objLUC.proposedRoadSizeMeterWest"
                                (keyup)="meterToFoot('proposed', 'west')" (change)="meterToFoot('proposed', 'west')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-1 row">
                    <label for="applicantName" class="col-md-5 col-form-label">মন্তব্য/বিবরন/ব্যাখা (DAP
                      অনুযায়ী)</label>
                    <div class="col-md-7">
                      <textarea id="DAPExplanation" class="form-control form-textarea" rows="2" autocomplete="off"
                        [(ngModel)]="objLUC && objLUC.dapExplanation"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 mt-1 row">
                    <label for="applicantName" class="col-md-5 col-form-label">চাহিত ভূমি ব্যবহার</label>
                    <div class="col-md-7">
                      <select id="proposedLandUseAuthorizationStatus" name="proposedLandUseAuthorizationStatus"
                        class="form-select" [(ngModel)]="objLUC && objLUC.proposedLandUseAuthorizationStatus">
                        <option [value]="1">অনুমোদিত</option>
                        <option [value]="2">অননুমোদিত</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-2 row">
                    <label for="applicantName" class="col-md-5 col-form-label">অন্যান্য বিবরণ</label>
                    <div class="col-md-7">
                      <textarea id="OthersDescription" class="form-control form-textarea" rows="2" autocomplete="off"
                        [(ngModel)]="objLUC && objLUC.othersDescription"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-12 text-end">
                      <button *ngIf="userRoleID!=38" class="btn btn-success" (click)="update()"><i class="fa fa-save"></i> সাবমিট</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>