#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .box-card {
    background-color: #104b7980;
    box-shadow: 0 0 1px #fff!important;
    color: #fff;
}
.bg-primary.bg-soft {
  background-color: #083e7086 !important;
  box-shadow: 2px 3px 29px #1968aa;
}