.avatar-title {
    background-color: #008c45;
}
.card-ui-0{
    border: 1px solid #43bcf5;
    background-color: #43bdf54b;
    cursor: pointer;
}
.card-ui-1{
    border: 1px solid #1acf41;
    background-color: #43f55b2d;
    cursor: pointer;
}
.card-ui-2{
    border: 1px solid #4364f5;
    background-color: #436cf54b;
    cursor: pointer;
}
.card-ui-3{
    border: 1px solid #e043f5;
    background-color: #e643f54b;
    cursor: pointer;
}
.card-ui-4{
    border: 1px solid #f54343;
    background-color: #f543434b;
    cursor: pointer;
}
// ===============Card Active
.active-card-0{
    border-bottom: 4px solid #43bcf5;
}
// .active-card-1{
//     border-bottom: 4px solid #1acf41;
// }
// .active-card-2{
//     border-bottom: 4px solid #4364f5;
// }
// .active-card-3{
//     border-bottom: 4px solid #e043f5;
// }
// .active-card-4{
//     border-bottom: 4px solid #f54343;
// }

