.fs-14 {
    font-size: 14px;
}

.app-type,
.file,
.hint,
.app-status,
.app-check,
.btn-action {
    flex: 0 0 auto;
}

@media only screen and (max-width: 767px) {

    .app-type,
    .file,
    .hint {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    .app-type,
    .file {
        width: 50%;
    }

    .hint {
        width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .app-status {
        width: 40%;
    }

    .app-check {
        width: 25%;
    }

    .btn-process {
        width: 30%;
    }

    .btn-action {
        width: 100%;
        margin-bottom: 5px;

        .text-end {
            text-align: unset !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .app-status {
        width: 50%;

        .status-label {
            width: 40%;
            text-align: start !important;
        }

        .status-select {
            width: 60%;
        }
    }

    .app-check {
        width: 25%;
    }

    .btn-process {
        width: 25%;
    }

    .btn-action {
        width: 100%;
        margin-bottom: 5px;

        .text-end {
            text-align: unset !important;
        }
    }
}

@media only screen and (max-width: 520px) {
    .app-status {
        width: 100%;

        .status-label {
            width: 40%;
            text-align: start !important;
        }

        .status-select {
            width: 60%;
        }
    }

    .app-check {
        width: 40%;
    }

    .btn-process {
        width: 60%;
    }

    .btn-action {
        width: 100%;
        margin-bottom: 10px;

        .text-end {
            text-align: unset !important;
        }
    }
}

@media only screen and (min-width: 1201px) {
    .app-type {
        width: 40%;
    }

    .file {
        width: 35%;
    }

    .hint {
        width: 25%;
    }
}