

.img-style {
    margin: 0px 0px 30px 0px;
}

.img-style-print {
    margin: 0px 0px 30px 0px;
    max-width: 100%;
}
.attc-table tr .page-break-loop{
    page-break-after: always;
}
.attach-img-box{
    text-align: center;
}

.attc-table tr:last-child .page-break-loop{
    page-break-after: avoid;
}

.print-table tr td {
    vertical-align: bottom;
}