<div class="container-fluid">
  <app-page-title title="BCCASE তদন্ত প্রতিবেদন"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <!--  ===========Section 1  ৪। (ক) প্রস্তাবিত নির্মাণ স্থলের বাস্তব মাপ============== -->
                <div class="col-md-12">
                  <h4 class="card-title ">সাধারণ তথ্য</h4>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="refNo" class="col-md-4 col-form-label">ইমারত পরিদর্শকের নাম </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="refNo"
                        [(ngModel)]="objFileMasterWithDetails.invOfficerFullNameBangla" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="refNo" class="col-md-4 col-form-label">ইমারত নির্মাণ নথির নম্বরঃ </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="refNo"
                        [(ngModel)]="objFileMasterWithDetails.refNo" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="date" class="col-md-4 col-form-label">পরিদর্শনের তারিখ </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="date"
                        [(ngModel)]="objInspectionDetails.investigationDate" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="applicantName" class="col-md-4 col-form-label">১। আবেদনকারীর নামঃ <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="applicantName"
                        [(ngModel)]="objFileMasterWithDetails.applicantName" autocomplete="off" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="landOwnerName" class="col-md-4 col-form-label">২। জমির মালিকের নামঃ <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="landOwnerName"
                        [(ngModel)]="objInspectionDetails.landOwnerName" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label class="col-md-4 col-form-label">৩। জায়গাটি কি ইজারাকৃত <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isLandUnderLease">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="objInspectionDetails.isLandUnderLease==true">
                  <div class="mb-0 row">
                    <label for="leaseYear" class="col-md-4 col-form-label">কত সালের জন্য ইজারাকৃত</label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="leaseYear"
                        [(ngModel)]="objInspectionDetails.leaseYear" autocomplete="off">
                    </div>
                  </div>
                </div>

                <!--  ===========Section 2  ৪। (ক) প্রস্তাবিত নির্মাণ স্থলের বাস্তব মাপ============== -->
                <div class="col-md-12">
                  <h4 class="card-title  mt-3">৪।(ক) প্রস্তাবিত নির্মাণ স্থলের বাস্তব মাপ</h4>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="actualProposedSizeNorth" class="col-md-4 col-form-label">উত্তরেঃ (মিটার) <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="actualProposedSizeNorth"
                        [(ngModel)]="objInspectionDetails.actualProposedSizeNorth" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="actualProposedSizeSouth" class="col-md-4 col-form-label">দক্ষিণেঃ (মিটার) <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="actualProposedSizeSouth"
                        [(ngModel)]="objInspectionDetails.actualProposedSizeSouth">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="actualProposedSizeEast" class="col-md-4 col-form-label">পূর্বেঃ (মিটার) <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="actualProposedSizeEast"
                        [(ngModel)]="objInspectionDetails.actualProposedSizeEast">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="actualProposedSizeWest" class="col-md-4 col-form-label">পশ্চিমেঃ (মিটার) <span
                        class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="actualProposedSizeWest"
                        [(ngModel)]="objInspectionDetails.actualProposedSizeWest">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="actualProposedSizeLandQty" class="col-md-4 col-form-label">(খ) জায়গার পরিমাপঃ(বর্গমিটার)
                      <span class="req-start">*</span></label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="actualProposedSizeLandQty"
                        [(ngModel)]="objInspectionDetails.actualProposedSizeLandQty" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="isApplicantLandOwner" class="col-md-4 col-form-label">৫। দরখাস্তকারী উক্ত দলিলে উল্লেখিত
                      জমির প্রকৃত মালিক কিনা<span class="req-start">*</span></label>
                    <div class="col-md-8">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isApplicantLandOwner">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                      
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="landTopShil" class="col-md-4 col-form-label">৬। জায়গার তপশীলঃ (বর্গমিটার)</label>
                    <div class="col-md-8">
                      <input class="form-control" type="number" value="" id="landTopShil"
                        [(ngModel)]="objInspectionDetails.landTopShil" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <h4 class="card-title mt-3">জমি বা প্লটে বিদ্যমান বাড়ি/কাঠামোর বিবরণ</h4>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="rsNo" class="col-md-4 col-form-label">আর.এস দাগ নং</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="rsNo" [(ngModel)]="objInspectionDetails.rsNo"
                        autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="bsNo" class="col-md-4 col-form-label">বি.এস। দাগ নং</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.bsNo" id="bsNo"
                        autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="rsKhotian" class="col-md-4 col-form-label">আর.এস। খতিয়ান নং</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.rsKhotian"
                        id="rsKhotian" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="thanaNameBangla" class="col-md-4 col-form-label">থানা</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.thanaNameBangla"
                        id="thanaNameBangla" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="mouzaNameBangla" class="col-md-4 col-form-label">মৌজার নাম</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.mouzaNameBangla"
                        id="mouzaNameBangla" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="layOutPlotNo" class="col-md-4 col-form-label">লে আউট প্লট নং</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.layOutPlotNo"
                        id="layOutPlotNo" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="landArea" class="col-md-4 col-form-label">এলাকা</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" [(ngModel)]="objInspectionDetails.landArea" id="landArea"
                        autocomplete="off">
                    </div>
                  </div>
                </div>
                <!--  ===========Section 3  ৭।(১) প্রস্তাবিত দালানের আবৃতাংশের পরিমান============== -->
                <div class="col-md-12">
                  <h4 class="card-title  mt-3">৭।(১) প্রস্তাবিত দালানের আবৃতাংশের পরিমান</h4>
                </div>

                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelop1stFloor" class="col-md-4 col-form-label">(ক) ১ম তলা </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelop1stFloor"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelop1stFloor" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelopFrom2ndFloor" class="col-md-4 col-form-label">(খ) ২য় তলা হইতে
                    </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelopFrom2ndFloor"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelopFrom2ndFloor" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelopTillTopFloor" class="col-md-4 col-form-label">তলা পর্যন্ত
                    </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelopTillTopFloor"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelopTillTopFloor" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelopStair" class="col-md-4 col-form-label">(গ) সিঁড়ি </label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelopStair"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelopStair" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelopStairTotal" class="col-md-4 col-form-label">সর্বমোট</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelopStairTotal"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelopStairTotal" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <label for="proposedBuldingEnvelopParkingSpace" class="col-md-4 col-form-label">(২) পার্কিংয়ের
                      পরিমান</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="" id="proposedBuldingEnvelopParkingSpace"
                        [(ngModel)]="objInspectionDetails.proposedBuldingEnvelopParkingSpace" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <h4 class="card-title mt-3">৮। সাইটে বর্তমানে কোন দালান/কাঠামো আছে কিনা (থাকলে উহার বিবরণ)</h4>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-8">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isAnyExistingBuilding">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-0 row">
                    <div class="col-md-6">
                      <div class="row">
                        <label for="proposedBuldingEnvelopParkingSpace" class="col-md-4 col-form-label">(ক)
                          প্রকৃতি</label>
                        <div class="col-md-8">
                          <select class="form-select" name="existingBuildingNature" id="existingBuildingNature"
                            [(ngModel)]="objInspectionDetails.existingBuildingNature">
                            <option value="0">প্রকৃতি নির্বাচন করুন</option>
                            <option value="1">খালি</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <label for="existingBuildingSize" class="col-md-4 col-form-label text-end">পরিমানঃ</label>
                        <div class="col-md-8">
                          <div class="input-group mb-3">
                            <input name="existingBuildingSize" class="form-control" type="number" value=""
                              id="existingBuildingSize" [(ngModel)]="objInspectionDetails.existingBuildingSize"
                              autocomplete="off">
                            <span class="input-group-text" style=" padding: 3px 10px;"
                              id="basic-addon2">বর্গমিটার</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  ========================New ====================== -->
                    <div class="col-md-12">
                      <div class="row">
                        <label for="existingBuildingBrokenSize" class="col-md-8 col-form-label">(খ) নকশা অনুমোদিত হইলে
                          স্থিত দালান/কাঠামোর অংশ ভাঙ্গিতে হইবে</label>
                        <div class="col-md-4">
                          <div class="input-group mb-3">
                            <input class="form-control" type="number" value="" id="existingBuildingBrokenSize"
                              [(ngModel)]="objInspectionDetails.structureToProsture" autocomplete="off">
                            <span class="input-group-text" style=" padding: 3px 10px;"
                              id="basic-addon2">বর্গমিটার</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <label for="existingBuildingBrokenSize" class="col-md-9 col-form-label">৯। স্থিত দালানের
                          পার্শ্বে যে পরিমাণ উন্মুক্ত জায়গা সাইট প্ল্যানে দেখানো হইয়াছে তাহা সরজমিনে আছে কিনা</label>
                        <div class="col-md-3">
                          <select class="form-select" [(ngModel)]="objInspectionDetails.isNearbyOpenSpaceOk">
                            <option [value]="null">নির্বাচন করুন</option>
                            <option [value]="true">হ্যাঁ</option>
                            <option [value]="false">না</option>
                          </select>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <label for="connectedRoadName" class="col-md-8 col-form-label">১০। ঐ রাস্তার সহিত সংযোগকারী এবং
                          সাইটে
                          যাওয়ার স্থিত রাস্তার নাম</label>
                        <div class="col-md-4">
                          <input name="connectedRoadName" class="form-control" type="text" value=""
                            id="connectedRoadName" [(ngModel)]="objInspectionDetails.connectedRoadName"
                            autocomplete="off">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <label for="connectedRoadWidth" class="col-md-5 col-form-label">(ক) উহার প্রশস্থতা</label>
                        <div class="col-md-7">
                          <input name="connectedRoadWidth" class="form-control" type="text" value=""
                            id="connectedRoadWidth" [(ngModel)]="objInspectionDetails.connectedRoadWidth"
                            autocomplete="off">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <label for="connectedRoadDirection" class="col-md-5 col-form-label">(খ) কোন দিকে</label>
                        <div class="col-md-7">
                          <input name="connectedRoadDirection" class="form-control" type="text" value=""
                            id="connectedRoadDirection" [(ngModel)]="objInspectionDetails.connectedRoadDirection"
                            autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <label for="connectedRoadType" class="col-md-8 col-form-label">১১। স্থিত রাস্তা দিয়ে চলাচল অধিকার
                      কিভাবে
                      স্বীকৃত</label>
                    <div class="col-md-4">
                      <input name="connectedRoadType" class="form-control" type="text" id="connectedRoadType"
                        [(ngModel)]="objInspectionDetails.connectedRoadType" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="connectedRoadProposedType" class="col-md-8 col-form-label">১২। রাস্তা প্রস্তাবিত হইলে
                      উক্ত রাস্তা দিয়ে
                      চলাচল অধিকার কিভাবে
                      স্বীকৃত</label>
                    <div class="col-md-4">
                      <input name="connectedRoadProposedType" class="form-control" type="text"
                        value="সর্ব সাধারনের ব্যবহার্য্য" id="connectedRoadProposedType"
                        [(ngModel)]="objInspectionDetails.connectedRoadProposedType" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isLandSiteWorkStart" class="col-md-8 col-form-label">১৩। বর্তমানে সাইটে কাজ শুরু হইয়াছে
                      কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isLandSiteWorkStart">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="hasPreviousStructureApproval" class="col-md-8 col-form-label">১৪। উক্ত সাইটে বা সাইটের
                      কোন অংশে পূর্বে কোন
                      নির্মাণ অনুমোদন দেওয়া হইয়াছিল কিনা থাকিলে
                      উহার বিবরণ</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" id="hasPreviousStructureApproval"
                        [(ngModel)]="objInspectionDetails.hasPreviousStructureApproval" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="has3BOrOtherNotice" class="col-md-8 col-form-label"> ১৫। উক্ত জায়গায় ৩-বি বা অন্যান্য
                      ধারায়
                      কোন নোটিশ প্রদান করা হইয়াছিল কিনা, হইলে উহার বিবরন</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="জানা নাই" id="has3BOrOtherNotice"
                        [(ngModel)]="objInspectionDetails.has3BOrOtherNotice" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isApplicationInformationOK" class="col-md-8 col-form-label">১৬। সাইট ও পারিপার্শ্বিক
                      জায়গা এবং মালিকানা
                      সম্মন্ধে দরখাস্তকারী সঠিক বিবরণ 'দিয়াছে কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isApplicationInformationOK">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <h4 class="card-title mt-3">পরিকল্পনা সংশ্লিষ্ট তথ্যাবলী </h4>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="connectedMainRoadName" class="col-md-8 col-form-label">১৭। পদরখাস্তকারীর জায়গায়
                      যাওয়ার নিকটতম
                      প্রধান রাস্তার ফকির হাট রোড নাম কি</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="জানা নাই" id="connectedMainRoadName"
                        [(ngModel)]="objInspectionDetails.connectedMainRoadName" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isInKpiArea30M" class="col-md-8 col-form-label">১৮। সাইটটির অবস্থান (প্রস্তাবিত জায়গা)
                      কে.পি আই (কি পয়েন্ট ইনস্টেলেশান)-এর ৩০ মিটারের মধ্যে কিনা, না হইলে কত দুরে</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="জানা নাই" id="isInKpiArea30M"
                        [(ngModel)]="objInspectionDetails.isInKpiArea30M" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isHillLand" class="col-md-8 col-form-label">১৯। বর্ণিত সাইট কি পাহাড়ী</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isHillLand">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isHillNear" class="col-md-8 col-form-label">(ক) সাইট সংলগ্ন কোন পাহাড় আছে না
                      কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isHillNear">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="hIllDistance" class="col-md-8 col-form-label">(খ) পাহাড় থাকিলে কত দূরে</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" id="hIllDistance"
                        [(ngModel)]="objInspectionDetails.hIllDistance" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="proposedLandType" class="col-md-8 col-form-label">২০। প্রস্তাবিত জমি কি কৃষি জমি নাকি
                      পুরাতন
                      বসত বাড়ী</label>
                    <div class="col-md-4">
                      <select class="form-select" name="proposedLandType" id="proposedLandType"
                        [(ngModel)]="objInspectionDetails.proposedLandType">
                        <option value="0"></option>
                        <option value="1">খালি</option>
                        <option value="2"> আছে</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isVisibleAllStructureIn12M" class="col-md-8 col-form-label">২১। সাইটের ১২ মিটারের মধ্যে
                      সকল কাঠামো
                      দেখানো হইয়াছে কিনা ?হইয়া থাকিলে কাঠামো সমূহের বর্তমান ব্যাবহার (উত্তরে, দক্ষিণে, পূর্বে,
                      পশ্চিমে)</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isVisibleAllStructureIn12M">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <label for="visibleAllStructureIn12MNorth" class="col-md-4 col-form-label text-end">উত্তরে</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="জানা নাই" id="visibleAllStructureIn12MNorth"
                        [(ngModel)]="objInspectionDetails.visibleAllStructureIn12MNorth" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <label for="visibleAllStructureIn12MSouth" class="col-md-4 col-form-label  text-end">দক্ষিণে</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="জানা নাই" id="visibleAllStructureIn12MSouth"
                        [(ngModel)]="objInspectionDetails.visibleAllStructureIn12MSouth" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <label for="visibleAllStructureIn12MEast" class="col-md-4 col-form-label text-end">পূর্বে</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="জানা নাই" id="visibleAllStructureIn12MEast"
                        [(ngModel)]="objInspectionDetails.visibleAllStructureIn12MEast" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <label for="visibleAllStructureIn12MWest" class="col-md-4 col-form-label  text-end">পশ্চিমে</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text" value="জানা নাই" id="visibleAllStructureIn12MWest"
                        [(ngModel)]="objInspectionDetails.visibleAllStructureIn12MWest" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isNearDrain" class="col-md-8 col-form-label">২২। সাইট সংলগ্ন কোন নালা আছে</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isNearDrain">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="drainLength" class="col-md-8 col-form-label">(ক) থাকিলে উহার প্রশস্থতা কত</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="জানা নাই" id="drainLength"
                        [(ngModel)]="objInspectionDetails.drainLength" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="drainType" class="col-md-8 col-form-label">(খ) উক্ত নালা পাকা নাকি কাঁচা</label>
                    <div class="col-md-4">
                      <select class="form-select" name="drainType" id="drainType"
                        [(ngModel)]="objInspectionDetails.drainType">
                        <option value="0">ড্রেন নির্বাচন করুন</option>
                        <option value="1">পাকা</option>
                        <option value="1">কাঁচা</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isEffectedNaturalWaterFlow" class="col-md-8 col-form-label">২৩। প্রস্তাবিত ইমারত নির্মিত
                      হইলে প্রাকৃতিক
                      জল নিষ্কাশনে কোন বাধা হইবে কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isEffectedNaturalWaterFlow">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isPossibleToConnectDrain" class="col-md-8 col-form-label">২৪। বাহিরের নর্দমার সহিত
                      প্রস্তাবিত ইমারতের
                      নর্দমার সংযোগ বর্তমান সম্ভব কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isPossibleToConnectDrain">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="hasElectricStructureIn10M" class="col-md-8 col-form-label">২৫। প্রস্তাবিত ইমারতের ১০
                      মিটারের মধ্যে কোন
                      বৈদ্যুতিক স্থাপনা আছে কিনা, থাকিলে নাই কত দূরে</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.hasElectricStructureIn10M">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="nearElectricLineTypeStr" class="col-md-8 col-form-label">২৬। নিকটস্থ বৈদ্যুতিক লাইনটি
                      চাই টেনশন নাকি
                      লো-টেনশন</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.nearElectricLineTypeStr">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="hasNearDefenceStructure" class="col-md-8 col-form-label">২৭। সাইটের নিকট প্রতিরক্ষা
                      বিভাগীয় কোন
                      স্থাপনা আছে কিনা, থাকিলে উহার বিবরন</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.hasNearDefenceStructure">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>

                      <div class="row" *ngIf="objInspectionDetails.hasNearDefenceStructure==true">
                        <div class="col-md-12">
                          <input class="form-control" type="text"
                            [(ngModel)]="objInspectionDetails.nearDefenceStructureDetails">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isLakeInProposedLand" class="col-md-8 col-form-label">২৮। প্রস্তাবিত স্থানে কোন পুকুর,
                      জলাশয় আছে
                      কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isLakeInProposedLand">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isHistoricalStructureInProposedLand" class="col-md-8 col-form-label">২৯। প্রস্তাবিত
                      স্থানে কোন ঐতিহাসিক স্থাপনা
                      আছে কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isHistoricalStructureInProposedLand">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="isLandFillFromLake" class="col-md-8 col-form-label">৩০। সাইটটি সম্প্রতি পুকুর ভরাটের
                      মাধ্যমে
                      সৃষ্ট না</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.isLandFillFromLake">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                      
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="hasNaturalEffection" class="col-md-8 col-form-label">৩১। প্রস্তাবিত দালান নির্মাণ করা
                      হইলে
                      পারিপার্শ্বিক অবস্থার উপর কোন বিরূপ প্রতিক্রিয়া হইবে কিনা</label>
                    <div class="col-md-4">
                      <select class="form-select" [(ngModel)]="objInspectionDetails.hasNaturalEffection">
                        <option [value]="null">নির্বাচন করুন</option>
                        <option [value]="true">হ্যাঁ</option>
                        <option [value]="false">না</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="landClearanceNo" class="col-md-8 col-form-label">৩২। ভূমি ব্যবহার ছাড়পত্র নং</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" id="landClearanceNo"
                        [(ngModel)]="objInspectionDetails.landClearanceNo" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="landSpecialClearanceNo" class="col-md-8 col-form-label">৩৩। বিশেষ প্রকল্প ছাড়পত্র
                      নং</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" value="জানা নাই" id="landSpecialClearanceNo"
                        [(ngModel)]="objInspectionDetails.landSpecialClearanceNo" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <label for="certificateNarrative" class="col-md-12 col-form-label">
                      <input name="certificateNarrative" type="checkbox" class="form-check-input"
                        [(ngModel)]="objInspectionDetails.aggreementIsChecked"> এই মর্মে প্রত্যায়ন করিতেছি যে, বর্ণিত
                      সাইটটি আমি
                      সরেজমিনে পরিদর্শন করিয়া দাখিলকৃত সংশ্লিষ্ট নকশা বাস্তব পরিমাপের সহিত সঠিক পাওয়া গিয়াছে এবং
                      দরখাস্ত ফরম ও অন্যান্য দলিলাদি পরীক্ষা করিয়াছি। আমি আরো প্রত্যয়ন করিতেছি যে, এই রিপোর্টে বর্ণিত
                      সকল তথ্যাদি আমার জ্ঞান ও বিশ্বাস মতে সত্য।</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <button *ngIf="userRoleID!=39 && userRoleID!=40" class="btn btn-success" (click)="update()">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>