agm-map {
    height: 740px;
}

.inspectionStatus input {
    margin-top: 8px;
}

.list-search-info table thead tr th {
    background: #d2f3ff;
    position: sticky;
    top: -1px;
    z-index: 55;
}

.custom-table-padding tr th,
.custom-table-padding tr td {
    padding: 5px;
    border: 1px solid #dfdfdf !important;
}

.table-search-result {
    table-layout: fixed;
    width: 187%;

    th,
    td {
        vertical-align: middle;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(7) {
            text-align: center;
        }
    }
}

.table-content-layout {

    th,
    td:not(.rich-content) {
        vertical-align: middle;
        text-align: center;
    }
}

.table-file-layout {
    table-layout: fixed;
    width: 125%;
}

.h-290 {
    height: 290px;
}

.attachment-box {
    width: 650px;
    height: 300px;
    overflow-y: auto;
}

.rich-attachment-box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    margin-left: 4px;
    overflow-y: auto;

    span {
        font-size: smaller;
        font-weight: 600;
        font-family: 'Poppins';
    }
}

.image-attachment-box {
    width: 150px;
    height: 180px;
}

.audio-attachment-box {
    width: 340px;
    height: 110px;
}

.video-attachment-box {
    width: 320px;
    height: 200px;
}

.agm-info-content-wrapper .table-bordered th,
.agm-info-content-wrapper .table-bordered td {
    color: #000;
    font-size: 14px;
}

.agm-info-content-wrapper .nav-tabs-custom .nav-item .nav-link {
    padding: 15px 5px;
}

.image-attachment-list li {
    list-style: none;
    float: left;
    padding: 5px;
}

.application-details-table tr td {
    padding: 5px 10px;
}